---
---
/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
  height: 100%;
  position: relative;
	font-size: 16px;
}
@media (min-width: 768px) {
	html {
		font-size: 20px;
	}
}
body {
	font-size: 1em;
	line-height: 1.35;
  text-shadow: -2px 2px rgba(0,0,0,.3);
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: url({{ site.baseurl }}/img/keith-3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
img {
	width: 100%;
	height: auto;
	border-radius: 3px;
  vertical-align: middle;
}

/*
 * The Grid
 */

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*
 * Typography
 */

p {
	margin-top: 0;
	margin-bottom: 1rem;
}
.lead {
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
}
h1 {
	margin-top: 0px;
  font-size: 1.9rem;
}
h2 {
  font-size: 1.1rem;
}
a {
	color: #FFF;
  text-decoration: none;
}
ol li,
ul li {
  margin-top: 0px;
	margin-bottom: .75rem;
}
blockquote {
  border-left: none;
  font-size: .9rem;
  line-height: 1.35;
  padding-left: .75rem;
  padding-right: .75rem;
}
hr {
	border-top: 2px solid #E7E7E7;
	border-bottom: none;
	border-left: none;
	margin-top: 40px;
	margin-bottom: 40px;
}
.fa {
  font-size: 1.5rem;
  line-height: .75rem;
}

/*
 * Buttons
 */

.btn {
  display: block;
  background: #458BBA;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 3px solid #18324C;
  border-radius: 10px;
  transition: all .2s;
}
.btn:hover {
  background: #18324C;
  transition: all .3s;
}

/*
 * Info
 */

.main-content {
  z-index: 1000;
}
.info {
  position: absolute;
  bottom: 20px;
}