<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }}</title>
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  
  <script src="//use.typekit.net/msw2rou.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
